.container{
    background: #FFFFFF;
    border: 3px solid #D3D3D3;
    border-radius: 1px;
    font-family: Tahoma, serif;
    text-align: center;
}

.tableClass{
    padding-left: 10px;
    text-align: center;
    width: 100%;
}

.jumbotron{
    background: #FFFFFF;
    text-align: center;
}

.counterInfo{
    font-size: 150px;
    font-weight: 900;
}

.units{
    font-size: 25px;
    font-weight: 700;
}

#seconds{
    color: red;
}
